extends layout

block content
    table
        each driver in drivers
            tr
                td= driver.preqPosition
                td= driver.driver
                td= driver.number
                td= driver.team
                td= driver.car
                td= driver.time
                td= driver.diff
                td= driver.theo
                td= driver.maxspeed
                td= driver.validlaps
                td= driver.server
                td= driver.position
                td= driver.points
                td: a(href=driver.img, target='_blank'): img(src=driver.img, style="width: 10%")
